@import "../styles/syntax-variables.less";

.syntax--keyword.syntax--operator.syntax--new.syntax--js {
    color: @purple;
}

.syntax--entity.syntax--name.syntax--type.syntax--instance.syntax--js {
    text-decoration: none;
}

.syntax--variable.syntax--parameter.syntax--function.syntax--js {
    color: @light-orange;
}
