@import "../styles/syntax-variables.less";

.syntax--punctuation {

    &.syntax--embedded.syntax--php {
        color: @orange;
    }

    &.syntax--variable.syntax--php {
        color: @red;
    }

}

.syntax--meta.syntax--function-call.syntax--php {
    color: @blue;
}

.syntax--entity {

    &.syntax--class.syntax--php,
    &.syntax--amespace.syntax--php,
    &.syntax--interface.syntax--php {
        text-decoration: none;
    }

}

.syntax--constant.syntax--other.syntax--php {
    color: @cyan;
}
